<table class="table">
  <thead>
    <tr>
{% for i in range(tbl[0]|length) %}
      <th scope="col">Player {{i}}</th>
{% endfor %}
    </tr>
  </thead>
  <tbody>
{% for trow in tbl %}
    <tr>
{% for tcell in trow %}
      <td>{{tcell}}</td>
{% endfor %}
    </tr>
{% endfor %}
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
